body {
      background-color: blue;
}
header {background-color: blueviolet;

display: flex;
justify-content: space-around;
align-items: center;
padding:24px 0;} 

.imagem{width: 10%;}

.imagem2{width: 20%;}

.escola {background-image: linear-gradient(rgb(25,25,112),rgb(100,149,237)) ;
display: flex;
justify-content: center;
align-items: center;
padding: 100px 0;
}

.escola-conteudo{ width: 50%;}
.titulo-escola {padding: 24px 0;}